body {
  background: #4ECDC4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #fff, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #fff, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Raleway', sans-serif;
  color: #292F36;
}

#sidebar {
  z-index: 3;
  position: fixed;
  width: 150px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #292F36;
  text-align: center;
}

#page-content {
  margin-left: 150px;
}

h1,
h2,
h3,
h4 {
  color: #FF6B6B;
  line-height: 1.2;
  text-align: center;
}

.circle-image {
  border-radius: 50%;
}

.center-elements {
  text-align: center;
}

a {
  text-decoration: none;
  color: #4ECDC4;
}

a:hover {
  color: #611C35;
}

img {
  width: 300px;
}

p {
  line-height: 130%;
}

td {
  vertical-align: middle;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.card {
  background-color: #EAEAEA;
  margin: 20px;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px grey;
}

.icon {
  display: inline-block;
  padding: 0 30px;
  margin: 0 0 15px 0;
}

.small-icon {
  font-size: 20px;
}

.picture-rounded {
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}

td {
  padding: 10px;
}

.overlay-left {
  position: absolute;
  top: 30px;
  left:200px;
}

.overlay-right {
  position: fixed;
  top: 20px;
  right: 20px;
}

#best {
  width: 150px;
  display: block;
  z-index: 2;
}

#best:hover {
  opacity: 0;
}

#finger {
  width: 140px;
  z-index: 1;
}

.icon-red {
  color: #FF6B6B;
  z-index: 4;
  font-size: 25px;
  padding: 20px 0;
}

.icon-red:hover {
  color: #4ECDC4;
}
